@charset "utf-8";
* {
  box-sizing: border-box;
}
html{
  padding-top:200px;
  background: url(top.jpg) center 0 no-repeat;
} 
body{
  margin: 0;
  padding-bottom:200px;
  color: #3c3c3c;
  font:16px/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}
h1,h2,h3{font-weight:500;}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.main header p{
  margin: 0 0 15px 0;
  
  text-align: center;
}

.main header a{
  display:block;
  padding: 10px 0;
  border: 1px solid #5ac3e7;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.main header a.active{
  background-color: #5ac3e7;
  color:#fff;
}
.main header a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(90,195,231,0.5);
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.main header a:hover, .main header a:focus, .main header a:active {
  color: #fff;
}
.main header a:hover:before, .main header a:focus:before, .main header a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.content{
  padding-left:60px;
}
.content ol{
  margin:0 0 60px 0;
  padding:0;
  list-style:none;
}
.content li{
  line-height:30px;
}
.content a{
  color:#5ac3e7;
}
.content p{
  margin:0;
}
.content .clearfix p{
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
}
.content .clearfix p:nth-child(even){
  padding-left:80px;
}
.content .clearfix span{padding-right:20px}
.description{
  margin-bottom: 45px;
  color:#7c7c7c;
}
.description h3{display: inline-block;margin:15px 0;}
.description h3+span{
  /* margin: 0 50px 0 70px; */
  margin: 0 66px 0 88px;
}



footer{
  padding: 15px 0;
  border-bottom: 1px solid #6cd9ff;
  font-size: 0;
  color:#7c7c7c;
}
footer a{
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 16px;
  margin-right: 9px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  background-color: #eee;
}
footer a.active{
  background-color: #6cd9ff;
  color: #fff;
}
footer p{font-size:16px}
.close{
  position: fixed;
  top: 160px;
  right: 0;
  height: 40px;
  padding: 6px 15px;
  background: #ffe5e5;
  color: #888;
  text-align: center;
}

/* ==960px 栅格系统
	1： 设置容器：.gridgs 的 width:960px，
		左右两侧为 auto, 简单设置- margin: 0 auto，
			页面实际宽度 940px

	2： 为栅格命名，.grid-* ( 1 - 12 例如：.grid-1 ),
					.column-* 作为前缀，数字作为后缀，表示三个的列数

	3：	设置栅格的全局属性：
			左浮动（float:left），（display:inline; 是为了兼容 IE 6 & 7）
			设置左右两侧的外边距 为 10px，(margin-left:10px; margin-right:10px;)
			每个栅格的宽度应该是 960px 除以 12列 = 80px，
			左右margin值 10px，每个栅格的宽度是 60px，
				gird-n 的宽度 = (80*n - 20)

					16列 demo：
					960px, 每列 左右边距 10px
					960 / 16 = 60px; 60 - 20 = 40px 
					列宽 = （60px * n）-20px

					24列，每列 左右边距 5px



	4： 左边距 .grid-ml-* , .grid-ml-2
		  （1 ~ 12）  每个栅格的margin-left值

	5： 左偏移 .grid-left-* , .grid-left-6
		（1 ~ 12）  每个栅格的相对定位 left 值

	6： .clearfix  清除浮动

 */
.gridgs {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  transition:background 6s;
  /* .grid-ml-12{
		margin-left: (@width * 12) + 10;
	} */
}
.gridgs .grid-1 {
  width: 60px;
}
.gridgs .grid-2 {
  width: 140px;
}
.gridgs .grid-3 {
  width: 220px;
}
.gridgs .grid-4 {
  width: 300px;
}
.gridgs .grid-5 {
  width: 380px;
}
.gridgs .grid-6 {
  width: 460px;
}
.gridgs .grid-7 {
  width: 540px;
}
.gridgs .grid-8 {
  width: 620px;
}
.gridgs .grid-9 {
  width: 700px;
}
.gridgs .grid-10 {
  width: 780px;
}
.gridgs .grid-11 {
  width: 860px;
}
.gridgs .grid-12 {
  width: 940px;
}


.gridgs .grid-ml-1 {
  margin-left: 90px;
}
.gridgs .grid-ml-2 {
  margin-left: 170px;
}
.gridgs .grid-ml-3 {
  margin-left: 250px;
}
.gridgs .grid-ml-4 {
  margin-left: 330px;
}
.gridgs .grid-ml-5 {
  margin-left: 410px;
}
.gridgs .grid-ml-6 {
  margin-left: 490px;
}
.gridgs .grid-ml-7 {
  margin-left: 570px;
}
.gridgs .grid-ml-8 {
  margin-left: 650px;
}
.gridgs .grid-ml-9 {
  margin-left: 730px;
}
.gridgs .grid-ml-10 {
  margin-left: 810px;
}
.gridgs .grid-ml-11 {
  margin-left: 890px;
}


.gridgs .grid-left-auto {
  left: auto;
}
.gridgs .grid-left-1 {
  left: 80px;
}
.gridgs .grid-left-2 {
  left: 160px;
}
.gridgs .grid-left-3 {
  left: 240px;
}
.gridgs .grid-left-4 {
  left: 320px;
}
.gridgs .grid-left-5 {
  left: 400px;
}
.gridgs .grid-left-6 {
  left: 480px;
}
.gridgs .grid-left-7 {
  left: 560px;
}
.gridgs .grid-left-8 {
  left: 640px;
}
.gridgs .grid-left-9 {
  left: 720px;
}
.gridgs .grid-left-10 {
  left: 800px;
}
.gridgs .grid-left-11 {
  left: 880px;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.clearfix::before,
.clearfix:after,
.gridgs::before,
.gridgs::after,
.grid-1::before,
.grid-1::after,
.grid-2::before,
.grid-2::after,
.grid-3::before,
.grid-3::after,
.grid-4::before,
.grid-4::after,
.grid-5::before,
.grid-5::after,
.grid-6::before,
.grid-6::after,
.grid-7::before,
.grid-7::after,
.grid-8::before,
.grid-8::after,
.grid-9::before,
.grid-9::after,
.grid-10::before,
.grid-10::after,
.grid-11::before,
.grid-11::after,
.grid-12::before,
.grid-12::after {
  content: '';
  display: table;
}
.clearfix::after,
.gridgs::after,
.grid-1::after,
.grid-2::after,
.grid-3::after,
.grid-4::after,
.grid-5::after,
.grid-6::after,
.grid-7::after,
.grid-8::after,
.grid-9::after,
.grid-10::after,
.grid-11::after,
.grid-12::after {
  clear: both;
}
/* .clearfix, .gridgs{
  zoom: 1; // for IE 6 & 7
} */
